@model MeetingInfo//String olarak selamlama ifadesi geleceğinden bunu eklemeliyiz

@{
	ViewBag.Title = "Toplantı Başvuru";
	Layout = "_Layout2";
}
<main class="text-center">
	<h1 class="h4">@ViewBag.Selamlama</h1>@*Selamlama ifademizi burada kullandık @Model ilede alabilirdik*@
	<p>Toplantı Katılım Durumunuzu Bildiriniz</p>@* href="/meeting/Apply"  dinamiklik için bu değil alttaki kullanılır*@
	<div class="card my-2">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">@Model.Location</li>
			<li class="list-group-item">Toplantımız @Model.Date.ToString("dd/MM/yyyy HH:mm:ss") Tarihinde Gerçekleşecektir.</li>
			<li class="list-group-item">@Model.NumberOfPeople Katılımcı</li>
		</ul>
	</div>
	<a class="btn btn-sm btn-outline-primary " asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>
</main>

